
.page-title {
	display: block;
	text-align: center;
	font-size: $h1-font-size;
	margin-top: 0;


	.smaller {
		font-size: 2rem;
		display: block;
		clear: both;
		letter-spacing: 0;
		font-weight: normal;
		margin-bottom: -1.25rem;
	}

}

.centered-title {
	text-align: center;
}

// Services landing page (page child pages)

.page-children-grid {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-items: center;
	justify-content: center;

	.child-page-box {
		text-align: center;
		margin: 1em 3vw;
		width: 15vw;
		min-width: 200px;
		max-width: 390px;

		@include phone-only {
			width: auto;
		}

		h6 {
			padding-top: 0.75em;
			margin: 0;
			line-height: 1.2;

			a {
				color: $default-text-color;
				text-decoration: none;

				&:hover {
					color: $default-link-color-hover;
				}
			}

		}

		.child-page-link {
			width: 15vw;
			height: 15vw;

			min-width: 200px;
			min-height: 200px;

			max-width: 390px;
			max-height: 390px;
			transition: all 300ms ease-in-out;

			&:hover {
				transform: scale( 1.1 );

			}
		}
	}
}


